

#profile-logo {
    width: 300px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 150px;
    right: 350px;
    transition: transform 0.5s ease;
}
#profile-logo:hover {
    transform: scale(1.2) translateZ(0px);
}

/* Header */
.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
#large-header {
    background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}
.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}
.main-title .thin {
    font-weight: 200;
}
@media only screen and (max-width: 768px) {
    .demo-1 .main-title {
        font-size: 3em;
    }
}
.skills-container {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.skill {
    color: darkblue;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow text */
    border-right: 3px solid transparent; /* Create a typing cursor effect */
    font-family: 'Archivo Black';
}
.pagelinks{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: flex-end;
    gap: 10px;
    width: 120px;
    height: 195px;
    margin-left: 10px;
}
.thought{
    width: 80%;
    text-align: justify;
}
/* strong{
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
} */

.sign-container img{
    width: 300px;
    transform: rotate(343deg);
    
}
.end-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 2rem;
    text-align: right;
    font-family: cursive;
    font-weight: bold;
    align-items: flex-end;
}
.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: -webkit-linear-gradient(-70deg,#2cda86,#1c86ff,#2cda86,#1c86ff);
    background-size: 400% 400%;
    animation: DecorativeContent_gradient__usXfH 3s ease infinite;
}